<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmacropad">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMacroPad">
        <activity android:name=".activities.activityGroups.EditActivity" />
        <activity android:name=".activities.activityGroups.NewActivity" />
        <activity
            android:name=".activities.introAuth.LearnActivity"
            android:label="@string/title_activity_learn"
            android:theme="@style/Theme.SocialMacroPad.NoActionBar" />
        <activity android:name=".activities.activityGroups.EditGroupActivity" />
        <activity android:name=".activities.activityGroups.AddNewGroupActivity" />
        <activity android:name=".activities.introAuth.LogInActivity" />
        <activity android:name=".activities.introAuth.SignUpActivity" />
        <activity
            android:name=".activities.bottomNavActivities.MainContent"
            android:label="@string/title_activity_lista_de_actividades" />
        <activity android:name=".activities.introAuth.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.communication.CommunicateActivity" />
        <activity
            android:name=".activities.communication.BluetoothList"
            android:label="@string/text_select_paired_device"
            android:resizeableActivity="false"
            android:supportsPictureInPicture="false" />
    </application>


</manifest>